body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table{
	margin-top: 30px;
}

#scoreBoard{
	width: 80%;
	margin: auto;
}

div.col{
	text-align: center;
}

p.number{
	font-size: xx-large;
	margin-bottom: 50px;
}

